* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
/* 
- Container
- overlay
- opacity hover
- Section headers
- Section padding
- hover effect 1 ( left to right)
- hover effect 2 ( top to bottom)

*/
/* Common Css Style Orders */
body {
    font-family: 'Varela Round', sans-serif;
   
}

.clear {
    clear: both;
}

.contaniner {
    width: 90%;

    margin: auto;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

}


button {
    font-family: 'Varela Round', sans-serif;
}

.hover-opacity:hover {
    opacity: 0.8;
}

.hover-opacity {
    transition: opacity .2s;
}

/* ----------------------------------------------------------------------- */
/* Header */
.header {

    position: fixed;
    width: 100%;
    z-index: 10;

}

.header .logo {
    width: 30%;
    float: left;
}


.header .logo img {
    width: 25%;
    margin-top: 15px;
}


.header .nav {
    width: 70%;
    float: left;
    list-style: none;
    text-align: right;
}

.header .nav > li {
    display: inline-block;
    text-align: center;
}

.header .nav > li > a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 30px 11px;
    font-size: 16px;
}

.header .nav > li > a:after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: royalblue;
    transition: width 0.5s;
    margin-top: 2px;
}

.header .nav > li > a:hover:after {
    width: 100%;
}

.header .nav > li > a.active:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: royalblue;
    transition: width 0.5s;
    margin-top: 2px;
}

/*
=========================
Media
=========================

*/
@media (max-width : 990px) {
    .header .logo {
        width: 100%;
        float: none;
        margin: -3% 40%;
    }

    .header .nav {
        display: none;

    }
}


/* Home Section */
.home {
    height: 100vh;
    background-image: url('../img/background/background1.jpg');
    background-size: cover;
    position: relative;
}

.home-content {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .title {
    color: white;
    font-size: 3.1rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.home-desc {
    margin: 10px 0;
    color: white;
    letter-spacing: 2px;
    line-height: 2;

}

.home .btn {
    min-width: 160px;
    padding: 13px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 17px;
    margin-top: 10px;


}

.home .btn-start {
    background: white;
    margin-right: 10px;

}

.home .btn-learn {
    background: #6195ff;
    color: whitesmoke;
}



/*
=========================
Media
=========================

*/
@media (max-width : 990px) {

    .home .title {

        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .home-desc {
        margin: 10px 0;
        font-size: 16px;
    }

    .home .btn {
        min-width: 130px;
        padding: 10px 0;
        font-size: 16px;
    }
}


/* Section header */

.section-header {
    text-align: center;
}

.section-header .section-title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.section-header .line {

    display: block;
    height: 5px;
    width: 50px;
    background: royalblue;
    margin: 0 auto 70px auto;
}

.pd-y {
    padding: 120px 0;
}

/* About sec */

.about-content {
    overflow: hidden;
}

.about-item {
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 50px 20px;
}

.about-item.mg {
    margin: 0 5%;
}

.about-item .icon {
    color: royalblue;
    margin-bottom: 12px;
}

.about-item-title {
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color 0.5s;
}

.about-item-desc {
    line-height: 1.6;
    margin-bottom: 10px;
    color: grey;
}

.about-item-link {

    color: royalblue;
    text-transform: capitalize;
    text-decoration: none;
}

.ltr-effect {
    position: relative;
}

.ltr-effect::after {
    position: absolute;
    content: "";
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: -1;
    transition: width 0.5s
}

.ltr-effect:hover:after {
    width: 100%;
}

.about-item:hover .about-item-title {
    color: white;

}

/*
=========================
Media
=========================

*/
@media (max-width : 990px) {


    .about-item {
        width: 100%;
        float: none;

    }

    .about-item.mg {

        margin: 15px 0;

    }
}

/*Portfolio*/
.portfolio {
    background: #f9f9f9;
}

.portfolio-content {
    overflow: hidden;
}

.portfolio-item {
    width: 30%;
    float: left;
    margin-bottom: 60px;
    position: relative;
    padding: 20px;
}

.portfolio-item .layer-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    */
}

.portfolio-item:hover .layer-content {
    opacity: 1;
    visibility: visible;

}

.layer-content .layer-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    width: 80%;
}

.layer-content a {
    display: inline-block;
    background: royalblue;
    width: 40px;
    height: 40px;
    top: 10px;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.5s;
    position: relative;
    opacity: 0;
    visibility: hidden;

}

.layer-content a i {
    line-height: 40px;
    color: white;
}

.layer-content .category {
    color: royalblue;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    top: 10px;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.2s;
    position: relative;
    opacity: 0;
    visibility: hidden;

}

.layer-content-title {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    top: 10px;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.3s;
    position: relative;
    opacity: 0;
    visibility: hidden;

}

.portfolio-item img {
    width: 100%;
}

.portfolio-item.mg {
    margin: 0 5%;
}


.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a,
.portfolio-item:hover .layer-content .category {
    top: 0;
    opacity: 1;
    visibility: visible;
}



/*
=========================
Media
=========================

*/
@media (max-width : 990px) {
    .portfolio-item {
        width: 100%;
        float: none;
        padding: 5px;
    }

    .portfolio-item.mg {
        margin: 15px 0;
    }
}

/* Offer section */

.offer {}

.offer-content {
    overflow: hidden;

}

.offer-item {
    width: 30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 20px 15px 30px 70px;
    position: relative;

}

.offer-item.mg {
    margin: 0 5%;

}

.offer-item i {
    position: absolute;
    top: 30px;
    left: 15px;
    color: royalblue;
}

.offer-item-title {
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color 0.5s;
}

.offer-item-desc {
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #999;
}

.offer-item:hover .offer-item-title {
    color: white;

}



/*
=========================
Media
=========================

*/
@media (max-width : 990px) {

    .offer-item {
        width: 100%;
        float: none;

    }

    .offer-item.mg {
        margin: 15px 0;

    }

}


/*Service section*/

.service {
    background-color: #f9f9f9;
}

.service-item {
    width: 50%;
    float: left;
}

.service-item .section-header {
    text-align: left;

}

.service-item .section-header .line {
    margin: 0 0 70px 0;
}

.service-item-desc {
    padding-right: 20px;
    color: #999;
    line-height: 1.5;
    font-size: 17px;
    margin-bottom: 20px;
}

.service-list {
    list-style-type: none;
}

.service-list li {
    margin-bottom: 20px;
}

.service-list li i {
    border: 1px solid royalblue;
    color: royalblue;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
}

.service-item-image img {
    width: 100%;
}

/*Bullets under the pic*/

.service-bollets {
    list-style: none;
    text-align: center;

}

.service-bollets li {

    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    border-radius: 50%;
    margin: 10px 5px;
}

.service-bollets li.active {
    background-color: #6195ff;
}

.service-bollets li:hover {
    background-color: #6195ff;
}


/*
=========================
Media
=========================

*/
@media (max-width : 990px) {
    .service-item {
        width: 100%;
        float: none;
    }

    .service-item .section-header {
        text-align: center;

    }

    .service-item .section-header .line {
        margin: 20px auto;
    }

    .service-item-desc {
        padding-right: 20px;
        margin: 20px auto;
    }

    .service-list li {
        margin-bottom: 26px;
    }

}


/*Nubmber section*/

.numbers {
    position: relative;
    background-image: url('../img/background/background2.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}

.numbers-items {
    overflow: hidden;
    padding: 100px 0;

}

.number-item {
    width: 25%;
    float: left;
    text-align: center;
}

.number-item .icon {
    color: #6195ff;
    margin-bottom: 15px;
}

.number-item-tilte {
    font-weight: bold;
    color: white;

    font-size: 35px;

}

.number-item-text {
    color: white;
}

/* Price Section */

.pricing-plans {
    overflow: hidden;
}

.pricing-item {
    width: 30%;
    float: left;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
}

.pricing-item.mg {
    margin: 0 5%;
}

.pricing-item-text {
    text-transform: uppercase;
    font-size: 18px;
    color: gray;
    transition: color 0.5s;
}

.pricing-item-permonth {
    width: 130px;
    height: 130px;
    padding: 20px 0;
    margin: 20px auto;
    border: 2px solid royalblue;
    border-radius: 50%;
    transition: color 0.5s;

}

.pricing-item-permonth .doller {
    font-size: 50px;
}

.pricing-item-permonth .month {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;

}

.pricing-list {
    list-style: none;
}

.pricing-list li {
    color: gray;
    line-height: 2;
    text-transform: uppercase;

}

.pricing-item-purchase {
    background: none;
    border: 0;
    display: block;
    width: 140px;
    border: 2px solid royalblue;
    padding: 10px;
    margin: 15px auto 0 auto;
    color: royalblue;
    cursor: pointer;
    text-transform: uppercase;
}

/* From Top to bottom effect*/

.tb-effect {
    position: relative;
}

.tb-effect::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: -1;
    transition: height 0.5s
}

.tb-effect:hover:after {
    height: 100%;
}

.pricing-item:hover .pricing-item-permonth {
    color: white;

}

.pricing-item:hover .pricing-item-text {
    color: royalblue;
}



/*
=========================
Media
=========================

*/
@media (max-width : 990px) {
    .pricing-item {
        width: 100%;
        float: none;
    }

    .pricing-item.mg {
        margin: 10px 0;
    }

}

/*Testmonial Section*/

.tesmonial {
    position: relative;
    background-image: url(../img/background/background3.jpg);
    background-attachment: fixed;
    height: 350px;
}

.testmonial-content {
    overflow: hidden;
    padding: 100px 0;
    width: 80%;
    margin: auto;


}

.testmonial-item {
    width: 50%;
    float: left;
    color: white;
}

.testmonial-item .testmonia-toplayer {

    padding: 10px 2px 40px 100px;
    position: relative;
}

.testmonial-item .testmonia-toplayer img {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.testmonial-item .testmonia-toplayer h3 {
    margin: 5px 0;
}

.testmonial-item .testmonia-toplayer span {
    color: royalblue;
}

.testmonial-desc {
    line-height: 1.5;
    font-size: 17px;
}



@media (max-width : 990px) {
    .tesmonial {
        height: 550px;
    }

    .testmonial-item {
        width: 100%;
        float: none;
        margin-bottom: 10px;

    }

}

/*Team Section*/

.team-content {
    overflow: hidden;


}

.team-item {
    width: 30%;
    float: left;
    background-color: #e8e8e8;
    padding: 40px 10px;
    text-align: center;

}

.team-item .team-img {
    width: 90%;
    margin: auto;
    position: relative;
}

.team-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}

.team-overlay a {

    display: block;
    width: 40px;
    height: 40px;
    background: royalblue;
    color: white;
    margin-left: auto;
}

.team-overlay a i {
    line-height: 40px;
}

.team-item .team-img img {
    width: 100%;

}

.team-item .team-info-title {
    color: black;
    margin: 10px 0;
    transition: color 0.5s;
}


.team-item .team-info-text {
    color: gray;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.5s;

}

.team-item:hover .team-overlay {
    visibility: visible;
    opacity: 1;
}

.team-item.tb-effect {
    z-index: 1;
}

.team-item:hover .team-info-title {
    color: white;
}


.team-item:hover .team-info-text {
    color: #6195ff;
}

.team-item.mg {
    margin: 0 5%;
}


@media (max-width : 990px) {
    .team-item {
        width: 90%;
        float: none;
        margin-left: 20px;
    }

    .team-item.mg {
        margin: 20px 0 10px 20px;
    }

}

/* Blog Section */
.blog {
    background: #f8f8f8;
}

.blog-content {
    overflow: hidden;
}

.blog-item {
    width: 30%;
    float: left;
    background: white;
}

.blog-item-img img {
    width: 100%;
}

.blog-info {
    padding: 20px;
}

.blog-list {
    list-style: none;
    margin: 10px 0;
}

.blog-list li {
    display: inline-block;
    margin: 0 5px;
}

.blog-list li i {
    color: royalblue;
}

.blog-title {
    font-weight: bold;
    margin: 20px 0;
}

.blog-desc {
    color: gray;
    margin-bottom: 10px;
    line-height: 1.5;
}

.blog-link {
    color: royalblue;
    text-decoration: none;
}

.blog-item.mg {
    margin: 0 5%;
}

/*
=============================
Media
=============================
*/
@media (max-width : 990px) {

    .blog-item {
        width: 90%;
        float: none;
        margin-left: 20px;
    }

    .blog-item.mg {
        margin: 20px 0 10px 20px;
    }

}

/*contact*/
.contact {
    overflow: hidden;
    padding: 120px 0 60px 0;

}

.icons-overflow {
    overflow: hidden;
}

.contact-info {
    width: 30%;
    float: left;
    text-align: center;

}

.contact-info.mg {
    margin: 0 5%;
}

.contact-info i {
    color: royalblue;
    margin-bottom: 15px;
}

.contact-info-text {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.contact-info-data {
    color: gray;
}

/*contact form*/
.form-area {
    width: 65%;
    padding: 50px 0;
    margin: auto;
    text-align: center;

}

.contact-form .input {
    display: block;
    background: #eee;
    margin-bottom: 25px;
    padding: 10px 30px 10px 10px;
    border: 0;
    border-radius: 3px;



}

.subject {
    width: 100%;
    height: 40px;
    font-family: inherit;
}

.text-area {
    width: 100%;
    height: 80px;
    font-family: inherit;
}

.contact-form .main-btn {
    border: 0;
    background: #6195ff;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
}

.name,
.email {
    float: left;
    width: 48%;
    height: 40px;
    font-family: inherit;


}

.email {
    margin-left: 4%;
}

input::placeholder {
    color: gray;
    font-size: 17px;
    font-family: inherit;

}

textarea::placeholder {
    color: gray;
    font-size: 17px;
    font-family: inherit;
}

/*
=============================
Media
=============================
*/
@media (max-width : 990px) {
    .contact-info {
        width: 100%;
        float: none;
    }

    .contact-info.mg {
        margin: 10px 0 10px 0;
    }

    .name,
    .email {
        float: none;
        width: 100%;

    }

    .email {
        margin-left: 0;
    }



}

/*footer*/
.footer {
    background: black;
    text-align: center;
    padding: 60px 0;


}

.footer-links {
    list-style: none;
    margin: 20px 0;
}

.footer-links li {
    display: inline-block;
}

.footer-links li a {
    width: 50px;
    height: 50px;
    display: block;
    background: #6195ff;
    color: white;
    border-radius: 5px;
    margin: 0 5px;
}

.footer-links li a i {
    line-height: 50px;
}

.footer .copyright {
    color: gray;
    font-size: 15px;
    text-transform: uppercase;
}

.footer .lib {
    color: royalblue;
}


/*scroll up*/
.topbtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background: #6195ff;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
    display: none;
}

html {
    scroll-behavior: smooth;
}

#botn {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
    display: none;
    border: 
}
@media (max-width : 990px){
    #botn{
       display: block; 
    }  
}
/*-------------------------------*/
#trast{
    width: 90%;
    text-align: center; 
    position:absolute;
    top:  70px;
    left: 5%;
    background: #6195ff;
    z-index: 1000;
    display: none;
    
  
}

#trast .trasta{
    color: gold;
    padding: 15px;
    display: block;
    text-decoration: none;
}

@media (max-width : 600px){
   #trast{
    display: none;
  
}
 
}














